@model IEnumerable<MVClab3.Models.Employee>
@*@{
      Layout = ViewBag.Layout;
}*@
<h1>Employees</h1>
<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    
                   
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
   <a asp-action="Create" class="CreateButton">
   <button  asp-action="Create"  class="btn btn-primary">Add New Employee</button>
  </a>
</p>
<style>
    /* Header background color */
    th {
        background-color: #aaa;
    }

    /* Even row background color */
    tr:nth-child(even) {
        background-color: #ccc;
    }

    /* Odd row background color */
    tr:nth-child(odd) {
        background-color: #eee;
    }
</style>